main > article {
  display: flex;
  gap: 10px;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
nav {
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 70px;
}

body {
  font-family: "Gill Sans", sans-serif;
}
